extends layout/layout
block head
	style.
		.axis path,
		.axis line{
		    fill: none;
		    stroke: black;
		    shape-rendering: crispEdges;
		}
		.axis text {
		    font-family: sans-serif;
		    font-size: 11px;
		}
		.MyRect{
			fill: steelblue;
		}
		.MyText{
			fill: white;
			text-anchor: middle;
		}
block content
	h1= title
	h2
block footer
	script(src="libs/d3/d3.min.js")
	script(src="javascripts/d3_demo.js")
	script.
		//- console.log(location.href);
