extends layout/layout

block content
	h1= title
	p #{title}
	form(action="/demo", method="post")
		input(type="text")
		input(type="submit", value="aaa")
	script(src="libs/underscore/underscore.js")
	script(src="javascripts/demo.js")