extends layout/layout

block content
	h1= title
	p #{title}
	form(action="/demo", method="post")
		input(type="text")
		input(type="submit", value="aaa")
<<<<<<< HEAD
	script(src="libs/underscore/underscore.js")
	script(src="javascripts/demo.js")
=======
	section(class="container")
		nav(id="menu", class="draggable") 菜单
	div(id="myDiv") 1
	div(id="output") 2
>>>>>>> 45c14580a888cd5f4e53361c0228ba5430472b7c
