extends layout/layout

block content
	h1= title
	//- p #{title}
	form(action="/demo", method="post")
		input(type="text" value='' name='user')
		input(type="submit", value="aaa")
	section(class="container")
		nav(id="menu", class="draggable") 菜单
	div(id="myDiv") 1
	div(id="output") 2
	form(method="post", action="/users")
		input(type="text", value="", name="username")
		input(type="submit", value="提交")
	//- each item in form
	//- 	p #{item}
block footer
	script(src="javascripts/event_target.js")
	script(src="javascripts/eventutil.js")
	script(src="javascripts/drag.js")
	script(src="libs/underscore/underscore.js")
	script(src="javascripts/demo.js")
	script(src="javascripts/tools.js")