<% include includes/header%>
<title><%= title %></title>
<% include includes/head %>
<style type="text/css">
	html,body{
		height: 100%;
		overflow: hidden;
	}
</style>
</head>
<body>

<div id='container'><canvas id="game"></canvas></div>

<script src="javascripts/game/engine.js"></script>
<script src="javascripts/game/game.js"></script>
<<<<<<< HEAD


=======
>>>>>>> 9b036026f0d2b881d421a4b6eddae1183bd89457
<% include includes/foot %>