extends layout/layout

block head
	link(rel="stylesheet", href="stylesheets/game.css")

block content
	//- h1= title
	//- p Welcome to #{title}
	canvas#game
block footer
	script(src='javascripts/engine.js')
	script(src='javascripts/game.js')