<% include includes/header%>
<title><%= title %></title>
<% include includes/head %>
<style type="text/css">
	html,body{
		height: 100%;
		overflow: hidden;
	}
</style>
</head>
<body>
	<canvas id="game">


<script src="javascripts/game/engine.js"></script>
<script src="javascripts/game/game.js"></script>

<% include includes/foot %>