extends layout/layout

block head
	link(rel="stylesheet", href="stylesheets/mobiscroll/mobiscroll.css")
	link(rel="stylesheet", href="stylesheets/mobiscroll/mobiscroll.wheels.css")
	link(rel="stylesheet", href="stylesheets/mobiscroll/mobiscroll.skin.css")
	link(rel="stylesheet", href="stylesheets/style.css")

block content
	h1= title
	div.content
		div.demos
			label(for="appDate") 日期
			input(value="", class="", readonly="readonly", name="appDate", id="appDate", type="text")

block footer
	script(src="javascripts/mobiscroll/mobiscroll.zepto.js")
	script(src="javascripts/mobiscroll/mobiscroll.core.js")
	script(src="javascripts/mobiscroll/mobiscroll.frame.js")
	script(src="javascripts/mobiscroll/mobiscroll.scroller.js")
