a {
  color: #00B7FF;
}

#menu{
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: rgba(0, 0, 0, .6);
	border-radius: 5px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
}

body {
    padding: 0;
    margin: 0;
	font: 14px "Microsoft Yahei" "Lucida Grande", Helvetica, Arial, sans-serif;
}
input, select {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #aaa;
    box-sizing: border-box;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-border-radius: 5px;
}

.content {
    padding: 15px;
    background: #fff;
}