$family: "Microsoft YaHei";

$m-color: #19c9f6;
$g999: #999;
$g666: #666;
$g333: #333;
$gray: #ccc;

$b-color: #1bd2ff;
$shadow-color: #1ee9fd;
$f-color: #19c9f6;
$link-color: #108dad;
$bg-color: rgba(10, 130, 160, .6);
$bg-ac-color: rgba(10, 130, 160, .9);

$green: #05d200;
$red: #ff0000;