<% include includes/head %>
<title><%= title %></title>
<% include includes/style %>
</head>
<body>
<header>
	<% include includes/top %>
</header>

<article class="wrap container">
		<section class="commonweal">
			<ul>
				<li>
					<a href="https://love.alipay.com/donate/donateSingle.htm?name=201304201216494301">
						<img src="/images/zhifubao.jpg" alt="">
					</a>
					<h3>
						<a href="https://love.alipay.com/donate/donateSingle.htm?name=201304201216494301">支付宝公益</a>
					</h3>
				</li>
			</ul>
		</section>
</article>

<footer></footer>

<!-- <% if (success) { %>
	<div><%= success %></div>
<% } %>
<% if (error) { %>
	<div><%= error %> </div>
<% } %>
-->

<% include includes/script %>
<% include includes/foot %>