<% include includes/head %>
<title><%= title %></title>
<% include includes/style %>
</head>
<body>

<header></header>

<article>
	<div id="bgImg" class="bg-img"><img src="" alt=""></div>

	<nav class="back-bar">
		<span><a title="返回主页" href="/blog/">返回主页</a></span>
	</nav>
	<div class="form-box">
		<div class="logo"><img src="../images/logo.png" alt=""></div>
		<form method="post">
			<ul>
				<li><input type="text" name="username" placeholder="用户名" autocomplete="off"/><br/></li>
				<li><input type="password" name="password" placeholder="密码"/><br/></li>
			</ul>

			<div id="submitBtn" class="submit-btn">登录</div>
			<!-- <div id="submitBtn" class="submit-btn"><input type="submit" value="登录"></div> -->
			<div class="new-reg"><a href="/blog/reg">注册新用户</a></div>

		</form>
	</div>

</article>

<footer></footer>

<% include includes/script %>
<script src="/javascripts/extend/otools.js"></script>
<script src="/javascripts/extend/validate.js"></script>
<script src="/javascripts/extend/loading.js"></script>

<script>
	$(function(){
		$('#submitBtn').on('click', function(){
			var username = $('input[name="username"]').val(),
				password = $('input[name="password"]').val();

			if(isNull(username)){
				oTools.alertmess('请输入用户名！')
				return false;
			}
			if(username.length > 20 || username.length < 6){
				oTools.alertmess('请输入6至20位用户名！');
				return false;
			}

			if(isNull(password)){
				oTools.alertmess('请输入密码！')
				return false;
			}
			if(password.length > 20 || password.length < 6){
				oTools.alertmess('请输入6至20位密码！')
				return false;
			}

			$.ajax({
				url: '/blog/login',
				type: 'post',
				data: {
					username: username,
					password: password
				},
				dataType: 'json',
				beforeSend: function(){
					load.start();
				},
				success: function(res){
					load && load.close();
					if(res.success){
						location.href = res.url;
					}else if(res.error){
						oTools.alertmess(res.msg);
					}else{
						location.href = '/blog/';
					}
				},
				error: function(){
					load && load.close();
				}
			})
		});

		$(document).on('keydown', function(e){
			if(e.keyCode == 13){
				$('#submitBtn').click();
			};
		});
	});
</script>

<% include includes/foot %>