doctype html
html
	head
		meta(charset='UTF-8')
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
<<<<<<< HEAD:views/layout/layout.jade
		include ../includes/head
=======
		include ./includes/head
		include ./includes/scripts
>>>>>>> 45c14580a888cd5f4e53361c0228ba5430472b7c:views/layout.jade
	body
		block content
